@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #0f1115;
    color: white;
    font-family: "Open Sans", sans-serif;
}

/* header */
header {
    margin: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    height: 100px;
    line-height: 100px;
}

.logo {
    font-weight: bold;
    font-size: 125%;
    font-style: italic;
}

.searchbar {
    outline: none;
    border: none;
    width: 500px;
}

.searchbar input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 125%;
    background-color: #19181f;
    color: #6a6c6e;
}

.searchbar input:focus {
    outline: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    font-weight: 700;
    color: #6a6c6e;
}

li.active {
    color: white;
}

a{
    text-decoration: none;
}

.profileImg{
    line-height: 125px;
}
.profileImg img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 14vw 80vw;
    margin: 20px 40px;
}

.category {
    padding: 20px 0;
}

.category h2 {
    font-weight: bold;
    font-size: 20px;
}

.category ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.category ul li {
    margin: 20px 0;
    color: #6a6c6e;
}

.mainContent {
    background-color: #19181f;
    border-radius: 10px;
    padding: 40px;
}

.movieHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.movieHeader p {
    color: #6a6c6e;
}

.movieContainer {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
}



img {
    width: 100%;
}

.loadMore{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.loadMore button{
    outline: none;
    border: none;
    padding: 12px 24px;
    border-radius: 3px;
    font-size: 18px;
}

.wrapLoader{
    min-width: 80vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #6a6c6e;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
