* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-color: #0f1115;
}

.app{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main";
}
