.category{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 4em 4em 4em 2em;
    grid-area: sidebar;
}

.language{
    margin-top: 100px;
}

ul{
    list-style-type: none;
}

ul h3{
    font-size: 24px;
}

li{
    color: #6C6B70;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}