@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
nav{
    font-family: 'Roboto', sans-serif;
    grid-area: header;
    margin: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav input{
    outline: none;
    border: none;
    background-color: #19181F;
    width: 600px;
    padding: 16px 20px;
    border-radius: 50px;
    caret-color: #6C6B70;
    color: #6C6B70;
}

nav input::placeholder{
    font-size: 20px;
}

.navHeader{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navHeader li{
    margin-left: 30px;
}

.profilImg{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #6C6B70;
    border: 1px solid white;
}

.active{
    color: white;
    font-weight: bold;
}


